<div class="">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Monto pagado</th>
      <th scope="col">Estado</th>
      <th scope="col">Comprobante</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of payments">
    <td>{{item.usuarios.name}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.estado}}</td>
      <td><a href="#" (click)="openImageInNewWindow(item.img)">Comprobante</a></td>

    </tr>
    </tbody>
  </table>
</div>
