<div class="header bg-primary-dev pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
              <div class="row">
                <h1 style="color: white;">{{ saludarCamp }}</h1>
                <br>
                <p style="color: white;">En este apartado encontraras todo lo relacionado con las campañas activas</p>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">
                Listado de campañas
              </h3>
            </div>
            <div class="col text-right">
              <a style="cursor:pointer" (click)="list()" class="btn btn-sm btn-secondary">Listar campañas</a>
              <a style="cursor:pointer" (click)="create()" class="btn btn-sm btn-primary">Crear campaña</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="mostrarCampFlag" >
            <app-list-campaing></app-list-campaing>
          </div>
          <div *ngIf="mostrarListarFlag">
            <app-new-campaing></app-new-campaing>
        </div>
      </div>
    </div>

  </div>
</div>
